.jfx-button{
  -fx-background-color: #006064;
  -fx-text-fill: white;
   
   }
 
   #label:hover{
       -fx-background-color: #FF7043;
   }
   
   #label1:hover{
       -fx-background-color: #FF7043;
   }
